*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-family: inherit;
  box-sizing: inherit;
}

body {
  /* font-family: "Lato", sans-serif; */
  font-weight: 400;
  font-style: normal;
  height: 300px;
  width: 200px;
  background-image: url("../img/bg.svg");
  background-size: cover;
  border: none;
  border-radius: 30px;
  color: white;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 20px;
  grid-gap: 10px;
}
.main__switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggleSwitch {
  border: 1px solid white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 30px;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
}
.toggleSwitch--on {
  background-color: greenyellow;
  color: black;
}
